.TodoListSection {
    display: flex;
    justify-content: center;

}

.TodoListSection p {
    font-size: 2rem;
}

.TodoListUl {
    width: 600px;
    padding: 0 0 56px 0;
    margin: 40px 0;
    list-style: none;
}